!!!
%html
  %head
    %title
      Rust Radio - Control Panel

    %link{href:"/stylesheet.css", type:"text/css", media:"all", rel:"stylesheet"}
    %script{src:"/jquery.min.js", type:"text/javascript"}
    %script{src:"/jquery-ui-1.8.16.custom.min.js", type:"text/javascript"}
    %script{src:"/script.js", type:"text/javascript"}

  %body
    .container
      .content[@playlist]
        %h1
          - if @playlist.online?
            %span.status !
          = @playlist.name
        .playlist
          .entries
            - @playlist.entries.each do |entry|
              %div.entry[entry]{:"data-entry-id" => entry.id}
                %span.position= entry.position
                %span.title= entry.show.long_title
                %span.controls
                  %a.to-top{href:"#", title:"move to the top"} ⇧
                  %a.remove{href:'#', title:"remove"} ✗
                - if entry.first?
                  .current_song
                    = "#{entry.current_song+1}/#{entry.show.songs.length}:"
                    %strong= entry.current_song_title

        %h2 Shows not on playlist
        .shows
          - @shows_not_on_playlist.each do |show|
            .show[show]{:"data-show-id" => show.id}
              %a.add{href:"#", title:"add show"}
                = show.short_title
                %strong +
