!!!
%html
  %head
    %title
      Rust Radio - Control Panel

    %link{href:"/stylesheet.css", type:"text/css", media:"all", rel:"stylesheet"}
    %script{src:"/jquery.min.js", type:"text/javascript"}
    %script{src:"/jquery-ui-1.8.16.custom.min.js", type:"text/javascript"}
    %script{src:"/script.js", type:"text/javascript"}

  %body
    .container
      .content[@playlist]
        %h1
          - if @playlist.online?
            %span.status !
          = @playlist.name
        .playlist
          - @playlist.entries.each_slice(10) do |box_entries|
            .entries
              - box_entries.each do |entry|
                %div.entry[entry]{:"data-entry-id" => entry.id}
                  %span.position= entry.position
                  %span.title= entry.show.short_title
                  - if entry.first? and entry.show.songs.any? # REMOVE THIS SECOND CHECK
                    .current_song
                      = "#{entry.current_song+1}/#{entry.show.songs.length}:"
                      = entry.current_song_title
